*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    justify-content:center;
}

.container{
    display: block;
}

.hide{
    display: none;
}

.biggerStyle{
    font-size:larger;
    font-weight: bolder;
    padding-bottom: 1em;
}